*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(black, white);
  color: white;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.weather{
  text-align: center;
  border: 1px solid black;
  height: fit-content;
  width: fit-content;
  padding: 30px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  gap: 15px;
}

.search input{
  padding: 12px 25px;
  font-size: 15px;
  background-color: white;
  color: black;
  border-radius: 30px;
  flex: 1;
  border: none;
  outline: 0;
}

.search button{
  border: none;
  outline: 0;
  padding: 12px 15px;
  border-radius: 20px;
  background: linear-gradient(rgb(49, 49, 49), white);
  cursor: pointer;
  font-weight: 500;
}

.search button:hover{
  background: linear-gradient(white, rgb(49, 49, 49));
  transition: all 400ms ease;
}

.info img{
  margin: 12px;
  width: 120px;
}

.info h1{
  font-size: 55px;
  font-weight: 500;
}

.info h2{
  font-size: 35px;
  font-weight: 400;
  margin-top: 1px;
}

.details{
  height: 100px;
  width: 100%;
  display: block;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  
}

.details img{
  height: 70px;
}

.col{
  display: flex;
}

.data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.error{
  color: rgba(227, 22, 22, 0.555);
  padding: 10px;
}